[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
selenium = "*"
webdriver-manager = "*"
pyinstaller = "*"
streamlit = "*"
discord = "*"
websocket-client = "*"
langchain = "*"
duckduckgo-search = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
